@font-face {
	font-family: Vazir Code;
	src: url('/vazir-code/Vazir-Code.eot');
	src: url('/vazir-code/Vazir-Code.eot?#iefix') format('embedded-opentype'),
		 url('/vazir-code/Vazir-Code.woff') format('woff'),
		 url('/vazir-code/Vazir-Code.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: Vazir;
	src: url('/vazir/Vazir.eot');
	src: url('/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
		 url('/vazir/Vazir.woff') format('woff'),
		 url('/vazir/Vazir.ttf') format('truetype');
	font-weight: normal;
}
body {
	height: 100%;
	font-size: 100%;
	margin: 0;
	padding: 0;
	font-family: Vazir;
	line-height: 1.3;
	color: #27292B;
	background: #F0F1F2;
	-webkit-font-smoothing: subpixel-antialiased;
	word-wrap: break-word;
	-ms-word-wrap: break-word;
}
h2 {
	text-align: center;
}
a:link, a:visited {
	text-decoration: none; color: blue;
}
.strum {
	background-color: yellowgreen;
}
.grey {
	color: lightgrey !important;
}
.wrapper {
	margin: 15px;
}
.title {
	font-size: 1.5em;
}
.note {
	font-size: 1em;
}
.main {
	font-family: 'Vazir Code', monospaced;
	background: #fff;
	margin: 0px auto;
	min-width: 300px;
	max-width: 100%;
	box-shadow: 0 0 2px 0 rgba(39, 43, 47, 0.1);
	padding: 15px;
	overflow: auto;
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.bold {
	font-weight: bold;
}
.next {
	float: right;
}
.prev {
	float: left;
}
.current {
	display: inline-block;
	margin:0 auto;
}
pre, code, br {
	display: inline;
	font-family: 'Vazir Code', monospaced;
}
.fa {
	direction: rtl;
}
.en {
	direction: ltr;
}
.tb {
	direction: ltr;
	color: red;
	font-weight: bold;
}